**Date : 25.10.2023**

**Project Title : Assessment of Marginal Workers in Tamil Nadu- A Socioeconomic Analysis**

**Importing the necessary packages**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Loading dataset**

In [ ]:
dataset = pd.read_csv("/content/DDW_B06SC_3300_State_TAMIL_NADU-2011.csv")

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 69 columns):
 #   Column                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                       --------------  -----
 0   Table Code                                                                                                   594 non-null    object
 1   State Code                                                                                                   594 non-null    object
 2   District Code                                                                                                594 non-null    object
 3   Area Name                                                                                                    594 non-null    object
 4   Total/ Rural/ Urban                                                                                          594 non-null    object
 5   Age group                                                                                                    594 non-null    object
 6   Worked for 3 months or more but less than 6 months -  Persons                                                594 non-null    int64
 7   Worked for 3 months or more but less than 6 months - Males                                                   594 non-null    int64
 8   Worked for 3 months or more but less than 6 months - Females                                                 594 non-null    int64
 9   Worked for less than 3 months - Persons                                                                      594 non-null    int64
 10  Worked for less than 3 months - Males                                                                        594 non-null    int64
 11  Worked for less than 3 months - Females                                                                      594 non-null    int64
 12  Industrial Category - A - Cultivators - Persons                                                              594 non-null    int64
 13  Industrial Category - A - Cultivators - Males                                                                594 non-null    int64
 14  Industrial Category - A - Cultivators - Females                                                              594 non-null    int64
 15  Industrial Category - A - Agricultural labourers - Persons                                                   594 non-null    int64
 16  Industrial Category - A - Agricultural labourers - Males                                                     594 non-null    int64
 17  Industrial Category - A - Agricultural labourers - Females                                                   594 non-null    int64
 18  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Persons  594 non-null    int64
 19  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Males    594 non-null    int64
 20  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Females  594 non-null    int64
 21  Industrial Category - B - Persons                                                                            594 non-null    int64
 22  Industrial Category - B - Males                                                                              594 non-null    int64
 23  Industrial Category - B - Females                                                                            594 non-null    int64
 24  Industrial Category - C - HHI - Persons                                                                      594 non-null    int64
 25  Industrial Category - C - HHI - Males                                                                        594 non-null    int64
 26  Industrial Category - C - HHI - Females                                                                      594 non-null    int64
 27  Industrial Category - C - Non HHI - Persons                                                                  594 non-null    int64
 28  Industrial Category - C - Non HHI - Males                                                                    594 non-null    int64
 29  Industrial Category - C - Non HHI - Females                                                                  594 non-null    int64
 30  Industrial Category - D & E - Persons                                                                        594 non-null    int64
 31  Industrial Category - D & E - Males                                                                          594 non-null    int64
 32  Industrial Category - D & E - Females                                                                        594 non-null    int64
 33  Industrial Category - F - Persons                                                                            594 non-null    int64
 34  Industrial Category - F - Males                                                                              594 non-null    int64
 35  Industrial Category - F - Females                                                                            594 non-null    int64
 36  Industrial Category - G - HHI - Persons                                                                      594 non-null    int64
 37  Industrial Category - G - HHI - Males                                                                        594 non-null    int64
 38  Industrial Category - G - HHI - Females                                                                      594 non-null    int64
 39  Industrial Category - G - Non HHI - Persons                                                                  594 non-null    int64
 40  Industrial Category - G - Non HHI - Males                                                                    594 non-null    int64
 41  Industrial Category - G - Non HHI - Females                                                                  594 non-null    int64
 42  Industrial Category - H - Persons                                                                            594 non-null    int64
 43  Industrial Category - H - Males                                                                              594 non-null    int64
 44  Industrial Category - H - Females                                                                            594 non-null    int64
 45  Industrial Category - I - Persons                                                                            594 non-null    int64
 46  Industrial Category - I - Males                                                                              594 non-null    int64
 47  Industrial Category - I - Females                                                                            594 non-null    int64
 48  Industrial Category - J - HHI - Persons                                                                      594 non-null    int64
 49  Industrial Category - J - HHI - Males                                                                        594 non-null    int64
 50  Industrial Category - J - HHI - Females                                                                      594 non-null    int64
 51  Industrial Category - J - Non HHI - Persons                                                                  594 non-null    int64
 52  Industrial Category - J - Non HHI - Males                                                                    594 non-null    int64
 53  Industrial Category - J - Non HHI - Females                                                                  594 non-null    int64
 54  Industrial Category - K to M - Persons                                                                       594 non-null    int64
 55  Industrial Category - K to M - Males                                                                         594 non-null    int64
 56  Industrial Category - K to M - Females                                                                       594 non-null    int64
 57  Industrial Category - N to O - Persons                                                                       594 non-null    int64
 58  Industrial Category - N to O - Males                                                                         594 non-null    int64
 59  Industrial Category - N to O - Females                                                                       594 non-null    int64
 60  Industrial Category - P to Q - Persons                                                                       594 non-null    int64
 61  Industrial Category - P to Q - Males                                                                         594 non-null    int64
 62  Industrial Category - P to Q - Females                                                                       594 non-null    int64
 63  Industrial Category - R to U - HHI - Persons                                                                 594 non-null    int64
 64  Industrial Category - R to U - HHI - Males                                                                   594 non-null    int64
 65  Industrial Category - R to U - HHI - Females                                                                 594 non-null    int64
 66  Industrial Category - R to U - Non HHI - Persons                                                             594 non-null    int64
 67  Industrial Category - R to U - Non HHI - Males                                                               594 non-null    int64
 68  Industrial Category - R to U - Non HHI - Females                                                             594 non-null    int64
dtypes: int64(63), object(6)
memory usage: 320.3+ KB

In [ ]:
dataset.head()

,Table Code,State Code,District Code,Area Name,Total/ Rural/ Urban,Age group,Worked for 3 months or more but less than 6 months - Persons,Worked for 3 months or more but less than 6 months - Males,Worked for 3 months or more but less than 6 months - Females,Worked for less than 3 months - Persons,...,Industrial Category - N to O - Females,Industrial Category - P to Q - Persons,Industrial Category - P to Q - Males,Industrial Category - P to Q - Females,Industrial Category - R to U - HHI - Persons,Industrial Category - R to U - HHI - Males,Industrial Category - R to U - HHI - Females,Industrial Category - R to U - Non HHI - Persons,Industrial Category - R to U - Non HHI - Males,Industrial Category - R to U - Non HHI - Females
0,B0806SC,`33,`000,State - TAMIL NADU,Total,Total,1200828,589003,611825,221386,...,3565,11080,4019,7061,16833,4266,12567,122088,55801,66287
1,B0806SC,`33,`000,State - TAMIL NADU,Total,`5-14,27791,14125,13666,2447,...,11,122,71,51,427,169,258,19305,9774,9531
2,B0806SC,`33,`000,State - TAMIL NADU,Total,15-34,514340,259560,254780,92423,...,1754,7536,2718,4818,8346,2127,6219,68929,32803,36126
3,B0806SC,`33,`000,State - TAMIL NADU,Total,35-59,542581,251957,290624,99202,...,1619,3205,1131,2074,6591,1487,5104,26498,9675,16823
4,B0806SC,`33,`000,State - TAMIL NADU,Total,60+,115103,62833,52270,27165,...,175,211,93,118,1457,483,974,7065,3394,3671

In [ ]:
dataset.columns

Index(['Table Code', 'State Code', 'District Code', 'Area Name',
       'Total/ Rural/ Urban', 'Age group',
       'Worked for 3 months or more but less than 6 months -  Persons',
       'Worked for 3 months or more but less than 6 months - Males',
       'Worked for 3 months or more but less than 6 months - Females',
       'Worked for less than 3 months - Persons',
       'Worked for less than 3 months - Males',
       'Worked for less than 3 months - Females',
       'Industrial Category - A - Cultivators - Persons',
       'Industrial Category - A - Cultivators - Males',
       'Industrial Category - A - Cultivators - Females',
       'Industrial Category - A - Agricultural labourers - Persons',
       'Industrial Category - A - Agricultural labourers - Males',
       'Industrial Category - A - Agricultural labourers - Females',
       'Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Persons',
       'Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Males',
       'Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Females',
       'Industrial Category - B - Persons', 'Industrial Category - B - Males',
       'Industrial Category - B - Females',
       'Industrial Category - C - HHI - Persons',
       'Industrial Category - C - HHI - Males',
       'Industrial Category - C - HHI - Females',
       'Industrial Category - C - Non HHI - Persons',
       'Industrial Category - C - Non HHI - Males',
       'Industrial Category - C - Non HHI - Females',
       'Industrial Category - D & E - Persons',
       'Industrial Category - D & E - Males',
       'Industrial Category - D & E - Females',
       'Industrial Category - F - Persons', 'Industrial Category - F - Males',
       'Industrial Category - F - Females',
       'Industrial Category - G - HHI - Persons',
       'Industrial Category - G - HHI - Males',
       'Industrial Category - G - HHI - Females',
       'Industrial Category - G - Non HHI - Persons',
       'Industrial Category - G - Non HHI - Males',
       'Industrial Category - G - Non HHI - Females',
       'Industrial Category - H - Persons', 'Industrial Category - H - Males',
       'Industrial Category - H - Females',
       'Industrial Category - I - Persons', 'Industrial Category - I - Males',
       'Industrial Category - I - Females',
       'Industrial Category - J - HHI - Persons',
       'Industrial Category - J - HHI - Males',
       'Industrial Category - J - HHI - Females',
       'Industrial Category - J - Non HHI - Persons',
       'Industrial Category - J - Non HHI - Males',
       'Industrial Category - J - Non HHI - Females',
       'Industrial Category - K to M - Persons',
       'Industrial Category - K to M - Males',
       'Industrial Category - K to M - Females',
       'Industrial Category - N to O - Persons',
       'Industrial Category - N to O - Males',
       'Industrial Category - N to O - Females',
       'Industrial Category - P to Q - Persons',
       'Industrial Category - P to Q - Males',
       'Industrial Category - P to Q - Females',
       'Industrial Category - R to U - HHI - Persons',
       'Industrial Category - R to U - HHI - Males',
       'Industrial Category - R to U - HHI - Females',
       'Industrial Category - R to U - Non HHI - Persons',
       'Industrial Category - R to U - Non HHI - Males',
       'Industrial Category - R to U - Non HHI - Females'],
      dtype='object')

In [ ]:
dataset.isnull()

,Table Code,State Code,District Code,Area Name,Total/ Rural/ Urban,Age group,Worked for 3 months or more but less than 6 months - Persons,Worked for 3 months or more but less than 6 months - Males,Worked for 3 months or more but less than 6 months - Females,Worked for less than 3 months - Persons,...,Industrial Category - N to O - Females,Industrial Category - P to Q - Persons,Industrial Category - P to Q - Males,Industrial Category - P to Q - Females,Industrial Category - R to U - HHI - Persons,Industrial Category - R to U - HHI - Males,Industrial Category - R to U - HHI - Females,Industrial Category - R to U - Non HHI - Persons,Industrial Category - R to U - Non HHI - Males,Industrial Category - R to U - Non HHI - Females
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
590,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
591,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
592,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
593,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

**Data aggregation**

In [ ]:
age_distribution = dataset.groupby('Age group')['Industrial Category - R to U - Non HHI - Males'].mean()

In [ ]:
print(age_distribution)

Age group
15-34             1325.373737
35-59              390.909091
60+                137.131313
Age not stated       6.262626
Total             2254.585859
`5-14              394.909091
Name: Industrial Category - R to U - Non HHI - Males, dtype: float64

In [ ]:
max_value_by_category = dataset.groupby('Industrial Category - A - Cultivators - Persons')['Industrial Category - A - Agricultural labourers - Persons'].max()
min_value_by_category = dataset.groupby('Worked for 3 months or more but less than 6 months -  Persons')['Worked for less than 3 months - Persons'].min()

In [ ]:
dataset.max()

Table Code                                                     B0806SC
State Code                                                         `33
District Code                                                     `633
Area Name                                           State - TAMIL NADU
Total/ Rural/ Urban                                              Urban
                                                           ...
Industrial Category - R to U - HHI - Males                        4266
Industrial Category - R to U - HHI - Females                     12567
Industrial Category - R to U - Non HHI - Persons                122088
Industrial Category - R to U - Non HHI - Males                   55801
Industrial Category - R to U - Non HHI - Females                 66287
Length: 69, dtype: object

In [ ]:
dataset.min()

Table Code                                                      B0806SC
State Code                                                          `33
District Code                                                      `000
Area Name                                           District - Ariyalur
Total/ Rural/ Urban                                               Rural
                                                           ...
Industrial Category - R to U - HHI - Males                            0
Industrial Category - R to U - HHI - Females                          0
Industrial Category - R to U - Non HHI - Persons                      0
Industrial Category - R to U - Non HHI - Males                        0
Industrial Category - R to U - Non HHI - Females                      0
Length: 69, dtype: object

In [ ]:
median_price_by_category = dataset.groupby('Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Persons')['Industrial Category - B - Persons'].median()

In [ ]:
dataset.median()

<ipython-input-41-e22d0dc743ec>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.median()

Worked for 3 months or more but less than 6 months -  Persons    2225.5
Worked for 3 months or more but less than 6 months - Males       1147.0
Worked for 3 months or more but less than 6 months - Females     1076.0
Worked for less than 3 months - Persons                           430.0
Worked for less than 3 months - Males                             198.5
                                                                  ...
Industrial Category - R to U - HHI - Males                          7.5
Industrial Category - R to U - HHI - Females                       20.0
Industrial Category - R to U - Non HHI - Persons                  263.5
Industrial Category - R to U - Non HHI - Males                    123.0
Industrial Category - R to U - Non HHI - Females                  135.0
Length: 63, dtype: float64

In [ ]:
std_dev_by_category = dataset.groupby('Industrial Category - A - Cultivators - Persons')['Industrial Category - A - Agricultural labourers - Persons'].std()

In [ ]:
dataset.std()

<ipython-input-45-d926424df4d9>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.std()

Worked for 3 months or more but less than 6 months -  Persons    76071.715917
Worked for 3 months or more but less than 6 months - Males       36864.822704
Worked for 3 months or more but less than 6 months - Females     39259.545337
Worked for less than 3 months - Persons                          13909.621137
Worked for less than 3 months - Males                             6127.047670
                                                                     ...
Industrial Category - R to U - HHI - Males                         265.230865
Industrial Category - R to U - HHI - Females                       776.206806
Industrial Category - R to U - Non HHI - Persons                  7325.241597
Industrial Category - R to U - Non HHI - Males                    3352.811737
Industrial Category - R to U - Non HHI - Females                  3988.125301
Length: 63, dtype: float64

**DATA MANIPULATION**

In [ ]:
marginal_workers = dataset[dataset['Industrial Category - A - Cultivators - Persons'] == 'Industrial Category - A - Agricultural labourers - Persons']

In [ ]:
print(marginal_workers)

Empty DataFrame
Columns: [Table Code, State Code, District Code, Area Name, Total/ Rural/ Urban, Age group, Worked for 3 months or more but less than 6 months -  Persons, Worked for 3 months or more but less than 6 months - Males, Worked for 3 months or more but less than 6 months - Females, Worked for less than 3 months - Persons, Worked for less than 3 months - Males, Worked for less than 3 months - Females, Industrial Category - A - Cultivators - Persons, Industrial Category - A - Cultivators - Males, Industrial Category - A - Cultivators - Females, Industrial Category - A - Agricultural labourers - Persons, Industrial Category - A - Agricultural labourers - Males, Industrial Category - A - Agricultural labourers - Females, Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Persons, Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Males, Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Females, Industrial Category - B - Persons, Industrial Category - B - Males, Industrial Category - B - Females, Industrial Category - C - HHI - Persons, Industrial Category - C - HHI - Males, Industrial Category - C - HHI - Females, Industrial Category - C - Non HHI - Persons, Industrial Category - C - Non HHI - Males, Industrial Category - C - Non HHI - Females, Industrial Category - D & E - Persons, Industrial Category - D & E - Males, Industrial Category - D & E - Females, Industrial Category - F - Persons, Industrial Category - F - Males, Industrial Category - F - Females, Industrial Category - G - HHI - Persons, Industrial Category - G - HHI - Males, Industrial Category - G - HHI - Females, Industrial Category - G - Non HHI - Persons, Industrial Category - G - Non HHI - Males, Industrial Category - G - Non HHI - Females, Industrial Category - H - Persons, Industrial Category - H - Males, Industrial Category - H - Females, Industrial Category - I - Persons, Industrial Category - I - Males, Industrial Category - I - Females, Industrial Category - J - HHI - Persons, Industrial Category - J - HHI - Males, Industrial Category - J - HHI - Females, Industrial Category - J - Non HHI - Persons, Industrial Category - J - Non HHI - Males, Industrial Category - J - Non HHI - Females, Industrial Category - K to M - Persons, Industrial Category - K to M - Males, Industrial Category - K to M - Females, Industrial Category - N to O - Persons, Industrial Category - N to O - Males, Industrial Category - N to O - Females, Industrial Category - P to Q - Persons, Industrial Category - P to Q - Males, Industrial Category - P to Q - Females, Industrial Category - R to U - HHI - Persons, Industrial Category - R to U - HHI - Males, Industrial Category - R to U - HHI - Females, Industrial Category - R to U - Non HHI - Persons, Industrial Category - R to U - Non HHI - Males, Industrial Category - R to U - Non HHI - Females]
Index: []

[0 rows x 69 columns]

In [ ]:
age_distribution = marginal_workers['Industrial Category - A - Cultivators - Persons'].value_counts().sort_index()

In [ ]:
print(age_distribution)

Series([], Name: Industrial Category - A - Cultivators - Persons, dtype: int64)

In [ ]:
sex_distribution = marginal_workers['Industrial Category - A - Agricultural labourers - Persons'].value_counts()

In [ ]:
print(sex_distribution)

Series([], Name: Industrial Category - A - Agricultural labourers - Persons, dtype: int64)

In [ ]:

X = dataset.drop('District Code',axis=1)
y = dataset['Area Name']

In [ ]:
dataset.X()

AttributeError: ignored